USE [BDSTOP]
GO
/****** Object:  Table [dbo].[tmp_resolucionesTienda]    Script Date: 7/12/2021 10:16:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_resolucionesTienda](
	[C_C] [nvarchar](50) NOT NULL,
	[TIENDA] [nvarchar](50) NOT NULL,
	[CAJA] [nvarchar](50) NOT NULL,
	[FORMULARIO] [nvarchar](max) NOT NULL,
	[FECHA_I] [nvarchar](50) NOT NULL,
	[PREFIJO] [nvarchar](50) NOT NULL,
	[DESDE] [nvarchar](50) NOT NULL,
	[HASTA] [nvarchar](50) NOT NULL,
	[VIGENCIA] [nvarchar](50) NOT NULL,
	[FECHAVTO] [nvarchar](50) NOT NULL,
	[SOLICITUD] [nvarchar](50) NOT NULL,
	[Empresa] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[tmp_resolucionesTienda] ([C_C], [TIENDA], [CAJA], [FORMULARIO], [FECHA_I], [PREFIJO], [DESDE], [HASTA], [VIGENCIA], [FECHAVTO], [SOLICITUD], [Empresa]) VALUES (N'921', N'STOP CARMEN DE VIBORAL CALLE 30', N'ELECTRONICA', N'18764015615737    ', N'28/07/2021', N'921L', N'1', N'1000', N'12', N'28/07/2022', N'AUTORIZA', N'STOP')
INSERT [dbo].[tmp_resolucionesTienda] ([C_C], [TIENDA], [CAJA], [FORMULARIO], [FECHA_I], [PREFIJO], [DESDE], [HASTA], [VIGENCIA], [FECHAVTO], [SOLICITUD], [Empresa]) VALUES (N'922', N'STOP JAMUNDI CRA 10', N'ELECTRONICA', N'18764018010049    ', N'14/09/2021', N'922L', N'1', N'1000', N'12', N'14/09/2022', N'AUTORIZA', N'STOP')
INSERT [dbo].[tmp_resolucionesTienda] ([C_C], [TIENDA], [CAJA], [FORMULARIO], [FECHA_I], [PREFIJO], [DESDE], [HASTA], [VIGENCIA], [FECHAVTO], [SOLICITUD], [Empresa]) VALUES (N'925', N'STOP BELLO PLAZA FABRICATO', N'ELECTRONICA', N'18764018896039    ', N'1/10/2021', N'925L', N'1', N'1000', N'12', N'1/10/2022', N'AUTORIZA', N'STOP')
GO
