USE [BDSTOP]
GO
/****** Object:  Table [dbo].[tmp_Municipio]    Script Date: 7/12/2021 10:16:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_Municipio](
	[almacen] [nvarchar](50) NOT NULL,
	[tienda] [nvarchar](50) NOT NULL,
	[ciudad] [nvarchar](50) NOT NULL,
	[codigo_municipio] [nvarchar](50) NOT NULL,
	[departamento] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
INSERT [dbo].[tmp_Municipio] ([almacen], [tienda], [ciudad], [codigo_municipio], [departamento]) VALUES (N'202', N'YOYO MEDELLIN UNICENTRO', N'MEDELLIN', N'05001', N'ANTIOQUIA')
INSERT [dbo].[tmp_Municipio] ([almacen], [tienda], [ciudad], [codigo_municipio], [departamento]) VALUES (N'203', N'STOP MEDELLIN UNICENTRO', N'MEDELLIN', N'05001', N'ANTIOQUIA')
INSERT [dbo].[tmp_Municipio] ([almacen], [tienda], [ciudad], [codigo_municipio], [departamento]) VALUES (N'205', N'YOYO MEDELLIN LA 65', N'MEDELLIN', N'05001', N'ANTIOQUIA')
GO
