USE [BDSTOP]
GO
/****** Object:  Table [dbo].[tmp_reporteDian]    Script Date: 7/12/2021 10:16:46 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tmp_reporteDian](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[linea] [nvarchar](max) NULL,
	[Empresa] [nvarchar](50) NULL,
 CONSTRAINT [PK_tmp_reporteDian] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tmp_reporteDian] ON 

INSERT [dbo].[tmp_reporteDian] ([id], [linea], [Empresa]) VALUES (10603657, N'InIcIo', NULL)
INSERT [dbo].[tmp_reporteDian] ([id], [linea], [Empresa]) VALUES (10603658, N'InicioFactura', N'YOYO')
INSERT [dbo].[tmp_reporteDian] ([id], [linea], [Empresa]) VALUES (10603659, N'@COMEN YOYO S.A.S', N'YOYO')
GO
SET IDENTITY_INSERT [dbo].[tmp_reporteDian] OFF
GO
